<div>
    <h1>{{weather.name}}</h1>


    <a href="" ng-click="cityId=5238685;" class="button">Montpelier</a>
    <a href="" ng-click="cityId=5234372;" class="button">Burlington</a>
    <a href="" ng-click="cityId=5243008;" class="button">Williston</a>
    <br><br>

    <div class="row">
        <div class="col-md-6">
            <div class="panel-primary">
                <div class="panel-heading">
                    <h4>
                        <img class="img-thumbnail forecast-img" src={{iconSrc}}>
                        <strong>{{weather.dt}}</strong>
                    </h4>
                </div>
                <div class="panel-body">
                    <p>{{ forecast.weather[0].main }}</p>
                    <p>H: {{ weather.main.temp_max }}° | L: {{ weather.main.temp_min }}°</p>
                </div>
            </div>
        </div>
    </div>

    <!--{{forecast}}-->

    <br><br><br>

    <div class="chart-container">
        <linechart data="data" options="options"></linechart>
    </div>
</div>